.landing-hero {
    position: relative;
    height: 75vh;
}

.landing-hero-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 400px;
    width: 400px;
}

.landing-hero-section {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 75%;
}

.input-group {
    width: 80%;
    margin-bottom: 0;
}

.input-area {
    border: 1px solid gray;
    border-radius: 25px;
    height: 47px;
    width: 70%;
}

.input-button-area {
    margin-left: 15px;
}

.button {
    background-color: gray;
    margin-left: 20px;
}

.subheader {
    font-size: 40px;
    color: whitesmoke;
}

.sub-links {
    width: 25%;
}

.login-link {
    color: whitesmoke;
}

.login-link:hover {
    color: whitesmoke;
    text-decoration: underline;
    font-style: italic;
}

.login-link:visited {
    color: whitesmoke;
}

.button-rounded-hover {
  border: 0;
  border-radius: 5000px;
  background-color: #898b8d;
  width: 100%;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  margin-right: 20px;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
    background-color: rgb(75, 163, 75);
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.25;
}